/* <!-- COLORS -->
Palette 1
<!-- Darkest #272343 -->
<!-- Lightest #ffffff -->
<!-- Light #e3f6f5 -->
<!-- Medium #bae8e8  --> */

/* Palette 2
#1fab89
#62d2a2
#9df3c4
#d7fbe8 */
/*-- Sun #FFE561 rgb(255, 229, 97) --*/

/* Palette 3
#2b580c
#639a67
#d8ebb5
#d9bf77 */

/* ------- Tag Selectors ------- */
body {
  margin: 0;
  background-color: #272343;
  text-align: center;
  font-family: "Candara", "Futura", Arial, sans-serif;
}
h1 {font-size: 4rem;
  margin: 0;
  color: #1fab89;}

h2 {font-size:3rem;
  margin: 0;
  color: #d7fbe8;}

h3 {
  font-size: 2.5rem;
  margin:0;
  color: #1fab89;}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

hr {
  color:#55e9bc;
  background-color: #d7fbe8;
  border-style:dotted none none none;
  border-width: 8px 0 0 0;
  height: 0;
  width: 66px;
  margin: 30px auto;
}

/* ------- Class Selectors ------- */

.top-container
{
  height: 600px;
  background-color: #ffffff;
  position: relative;
}

.right_cloud
{
  width: 120px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 350px;
  z-index: 10;
}

.left_cloud
{
  width: 120px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  bottom: 50px;
  right: 350px;
  z-index: 10;
}

.sun
{
  height: 200px;
  background-color: #ffffff;
  border-radius: 100%;
  /* position: relative; */
  z-index: 1;
}

.money_sun
{
  height: 60px;
  position: relative;
  bottom: 150px;
  margin: 0 auto;
  z-index: 100;
  background-color: #FFE561;
}

.hi
{
  height: 600px;
  background-color: #2D8D2B;
  position: relative;
}

.hi_container
{
  display: inline-block;
  width: 800px;
  height: 400px;
  position: relative;
  top: 100px;
  /* background-color: gray; */
  background-color: #2D8D2B;
  color: #e3f6f5;
}

.hi_image
{
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 12.5%;
  /* background-color: gray; */
  background-color: #2D8D2B;
}

.hi_text_top_container
{
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 50%;
  /* background-color: purple; */
  background-color: #2D8D2B;
  color: #e3f6f5;
}

.hi_text_bottom_container
{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  /* background-color: blue; */
  background-color: #2D8D2B;
  color: #e3f6f5;
}

.hi_text_top_container h2
/* center text horizontally and vertically */
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #62d2a2; */
  background-color: #2D8D2B;
  color: #e3f6f5;
}

.hi_text_bottom_container p
/* center text horizontally and vertically */
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  /* background-color: #62d2a2; */
  background-color: #2D8D2B;
  color: #e3f6f5;
}

.pmain
{
  color: #639a67;
  display: inline-block;
  width: 500px;
}

.middle-container
{
  height: 1400px;

  /* width: 200px; */
  padding-top: 50px;
  background-color: #d7fbe8;
}

.can_do
{
  color: #2b580c;
  margin-bottom: 1em;
}

.bottom-container
{
  height: 30px;
  /* width: 200px; */
  color: #2b580c;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #62d2a2;
}

.copywrite {
  font-size: 1rem;}
/*********************** BUTTONS **********************/
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Candara", "Futura", Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  text-decoration: none;
}
